---
version: "3.8"
services:
  movies:
    image: sravanthievangelinesrav/paytmmoviess:latest
    ports:
      - 81:80
    deploy:
      replicas: 3
  train:
    image: sravanthievangelinesrav/paytmtrains:latest
    ports:
      - 82:80
    deploy:
      replicas: 3
  recharge:
    image: sravanthievangelinesrav/paytmrechargee:latest
    ports:
      - 83:80
    deploy:
      replicas: 3
  dth:
    image: sravanthievangelinesrav/paytmdthh:latest
    ports:
      - 84:80
    deploy:
      replicas: 3
